@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap'); */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}


/* main */
main {
  width: 100%;
  height: auto;
}



/* main-visual */
.top {
  width: 100%;
  height: auto;
  position: relative;
}

.title {
  position: absolute;
  top: 5%;
  letter-spacing: 0.2em;
}

.product-name {
  letter-spacing: 0.4em;
  font-size: 41px;
}

.product-phrase {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .top-container {
    display: grid;
    background-image: url(../images/mainVisual.png);
    background-size: cover;
    background-position: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 200px 320px 200px;
  }
  .bg-img {
    display: none;
  }
  .item9 {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item9 p {
    padding-left: 15%;
    padding-bottom: 2%;
  }
  .title {
    left: 46%;
    font-size: 28px;
  }
  .phrase {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .top-container {
    display: none;
  }
  .bg-img {
    width: 100%;
    height: 450px;
    background-image: url(../images/mainVisual_sp.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .title {
    left: 32.5%;
    font-size: 24px;
    /* transform: translate(-50%); */
  }
  .phrase {
    position: absolute;
    left: 5%;
    bottom: -22%;
  }
}




/* online-purchase */
.online-purchase{
  width: 100%;
  /* height:auto; */
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.online-purchase-inner {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  /* margin: 0 auto; */
  background-color: #F0F4FF;
}

.name-price {
  width: 33%;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  height: 58px;
  border-radius: 9999px;
  border: none;
  font-size: 18px;
  color: white;
}

.button1 {
  background-color: #46C4DB;
}

.button2 {
  background-color: #5DD5AB;
}

@media screen and (min-width: 768px) {
  .online-purchase-inner{
    width: 65%;
    height: 146px;
    box-sizing: border-box;
    flex-direction: row;
    padding: 0 57px;
  }
  .name-price {
    width: 33%;
    height: auto;
  }
  .buttons {
    width: 66%;
    height: auto;
  }
  .buttons button {
    width: 47%;
  }
  .name {
    margin-bottom: 2%;
    font-size: 24px;
  }
  .price {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .online-purchase {
    margin-top: 157px;
    padding-top: 0;
  }
  .online-purchase-inner{
    width: 92%;
    height: 261px;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 34px;
  }
  .name-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
  }
  .buttons {
    width:100%;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .buttons button {
    width: 83%;
  }
}




/* keep-skin-btfl */

.keep-skin-btfl {
  width: 100%;
  position: relative;
}

.keep-skin-btfl-img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.keep-skin-btfl-desc {
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
}

@media screen and (min-width: 768px) {
  .keep-skin-btfl-img {
    height: 550px;
    background-image: url(../images/creams.png);
  }
  .keep-skin-btfl-desc {
    top: 47%;
    left: 70%;
  }
  .product-desc1 {
    margin-bottom: 8px;
    font-size: 38px;
  }
  .product-desc2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .product-desc3 {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 2.5;
  }
}

@media screen and (max-width: 768px) {
  .keep-skin-btfl-img {
    height: 680px;
    background-image: url(../images/keepSkinBtfl_sp.png);
  }
  .keep-skin-btfl-desc {
    width: 95%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .product-desc1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 30px;
  }
  .product-desc2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .product-desc3 {
    margin-bottom: 0;
    line-height: 2.5;
    font-size: 14px;
  }
}




/* Q and A */
.qa {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(to right, #F4FFE8, #C6F0FE);
}

.qa__inner1 {
  height: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 41px;
}

.qa__h1 {
  margin-top: 9px;
  font-size: 20px;
}

.qa__inner2 {
  width: 45%;
}

.accordion__item {
  padding: 24px 24px 0 24px;
  /* padding: 24px; */
  margin-bottom: 3%;
  background-color: white;
  /* overflow: hidden; Prevents margin collapse */
}

.accordion__title {
  font-size: 15px;
  padding-bottom: 24px;
}

.accordion__title::after {
  content: url(../images/caret-down-fill.png);
  float: right;
}

.accordion__title--active::after {
  content: url(../images/caret-up-fill.png);
  float: right;
}

.accordion__item span {
  font-size: 18px;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  font-size: 15px;
  line-height: 1.8;
  /* padding-bottom: 53px; */
  transition: 1000ms ease max-height;
}

.accordion__content span {
  font-size: 18px;
}





/* link to the top */
.to-the-top {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
}
.to-the-top img {
  margin: 0 0 0 auto;
}

/* footer */
footer {
  width: 100%;
  height: 104px;
  background-color: #0071CE;
}

.wrapper {
  width: 80%;
  height: 100%;
  margin:  0 auto;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.company-name {
  font-size: 32px;
  letter-spacing: 0.2em;
}

footer ul {
  width: 30%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 14px;
}

.copyright {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  footer{
    height: 165px;
  }
  .wrapper {
    width: 85%;
  }
  footer ul {
    width: 100%;
  }
  .wrapper {
    flex-direction: column;
  }
}







/* font */

.noto-serif-jp-regular{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-jp-mideum{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.noto-serif-jp-semibold{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-bold {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}