@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap'); */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}


/* main */
main {
  width: 100%;
  height: auto;
}



/* main-visual */
.top {
  width: 100%;
  height: auto;
  position: relative;
}

.title {
  position: absolute;
  top: 5%;
  letter-spacing: 0.2em;
}

.product-name {
  letter-spacing: 0.4em;
  font-size: 41px;
}

.product-phrase {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .top-container {
    display: grid;
    background-image: url(../images/mainVisual.png);
    background-size: cover;
    background-position: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 200px 320px 200px;
  }
  .bg-img {
    display: none;
  }
  .item9 {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item9 p {
    padding-left: 15%;
    padding-bottom: 2%;
  }
  .title {
    left: 46%;
    font-size: 28px;
  }
  .phrase {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .top-container {
    display: none;
  }
  .bg-img {
    width: 100%;
    height: 450px;
    background-image: url(../images/mainVisual_sp.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .title {
    left: 32.5%;
    font-size: 24px;
    /* transform: translate(-50%); */
  }
  .phrase {
    position: absolute;
    left: 5%;
    bottom: -22%;
  }
}




/* online-purchase */
.online-purchase{
  width: 100%;
  /* height:auto; */
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.online-purchase-inner {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  /* margin: 0 auto; */
  background-color: #F0F4FF;
}

.name-price {
  width: 33%;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  height: 58px;
  border-radius: 9999px;
  border: none;
  font-size: 18px;
  color: white;
}

.button1 {
  background-color: #46C4DB;
}

.button2 {
  background-color: #5DD5AB;
}

@media screen and (min-width: 768px) {
  .online-purchase-inner{
    width: 65%;
    height: 146px;
    box-sizing: border-box;
    flex-direction: row;
    padding: 0 57px;
  }
  .name-price {
    width: 33%;
    height: auto;
  }
  .buttons {
    width: 66%;
    height: auto;
  }
  .buttons button {
    width: 47%;
  }
  .name {
    margin-bottom: 2%;
    font-size: 24px;
  }
  .price {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .online-purchase {
    margin-top: 157px;
    padding-top: 0;
  }
  .online-purchase-inner{
    width: 92%;
    height: 261px;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 34px;
  }
  .name-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
  }
  .buttons {
    width:100%;
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .buttons button {
    width: 83%;
  }
}




/* keep-skin-btfl */

.keep-skin-btfl-img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .keep-skin-btfl {
    width: 100%;
    position: relative;
  }
  .keep-skin-btfl-img {
    height: 550px;
    background-image: url(../images/keepSkinBtfl.png);
  }
  .keep-skin-btfl-desc {
    color: white;
    position: absolute;
    top: 47%;
    left: 70%;
    transform: translate(-50%,-50%);
  }
  .keep-skin-btfl-desc p {
    margin-bottom: 20px;
  }
  .keep-skin-btfl-desc p:first-child {
    margin-bottom: 8px;
  }
  .keep-skin-btfl-desc p:last-child {
    margin-bottom: 0;
    line-height: 2.5;
  }
  .product-desc1 {
    font-size: 38px;
  }
  .product-desc2 {
    font-size: 24px;
  }
  .product-desc3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .keep-skin-btfl-img {
    height: 680px;
    background-image: url(../images/keepSkinBtfl_sp.png);
  }

}








/* font */

.noto-serif-jp-regular{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-jp-mideum{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.noto-serif-jp-semibold{
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-bold {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}